#loading {
  object-fit: contain;
  width: 25px;
  height: auto;
  position: absolute;
  right: 60px;
  bottom: -2px;
}

.app {
  margin: 60px auto;
  width: min-content;
  font-size: 18px;
  text-align: center;
  font-family: Optima;
  color: rgb(53, 53, 53);
}

.search {
  margin: 20px ;
  position: relative;
}


#name {
  font-size: 24px;
}

#country {
  font-size: 18px;
}

.forecast {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.data{
  margin: 20px;
  color: rgb(8, 8, 87);
}

img {
  width: 80px;
  height: auto;
}

.day {
  width:120px;
  background-color: aliceblue;
  padding: 20px 20px 25px 20px;
  
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

input, button {
  appearance: none;
  font-family: Optima;
  background-color: aliceblue;
  font-size: 18px;
}

input:focus {
  outline: 1px solid rgb(8, 8, 87);
}